<!DOCTYPE html>
<html>
<head>
	<title>Edit Profile</title>
</head>
<body>
	<h1> Edit Profile</h1>

	<a href="/Admin_home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			<td>Id</td>
			<td>username</td>
			<td>password</td>
			<td>type</td>
			<td>Action</td>
		</tr>

		<% 
			users.forEach( function(std){ %>
			<tr>
				<td><%= std.id %></td>
				<td><%= std.username %></td>
				<td><%= std.password %></td>
				<td><%= std.type %></td>
				<td>
					<a href="/Admin_home/profileEdit/<%= std.id %>/<%= std.username %>/<%= std.password %>/<%= std.type %>">Edit</a>
				</td>
			</tr>
		<%
			}); 
		%>
		
	</table>
</body>
</html>