<!DOCTYPE html>
<html>
<head>
	<title>Information List</title>
</head>
<body>
	<h1> Information List</h1>

	<a href="/Admin_home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1">
		<tr>
			<td>Country</td>
			<td>General</td>
			<td>Cost</td>
			<td>Action</td>
		</tr>

		<% 
			users.forEach( function(std){ %>
			<tr>
				<td><%= std.country %></td>
				<td><%= std.general %></td>
				<td><%= std.cost %></td>
				<td>
					<a href="/Admin_home/infoDelete/<%= std.country %>/<%= std.general %>/<%= std.cost %>">Delete</a> |
					<a href="/Admin_home/infoEdit/<%= std.country %>/<%= std.general %>/<%= std.cost %>">Edit</a>
				</td>
			</tr>
		<%
			}); 
		%>
		
	</table>
  <a href="/Admin_home/createInfo">Create Information</a>
</body>
</html>