<!DOCTYPE html>
<html>
<head>
	<title>Information List</title>
	
</head>
<body>
	<h1> Information List</h1>

	<a href="/home">Back</a> | 
	<a href="/logout">logout</a> 
	<br>

	<table border="1"  id="table">
		<tr>
			<td>ID</td>
			<td>wishlist1</td>
			<td>wishlist2</td>
			<td>wishlist3</td>
			<td>Action</td>
		</tr>

		<% 
			users.forEach( function(std){ %>
			<tr>
				<td><%=std.id %></td>
				<td><%= std.wishlist1 %></td>
				<td><%= std.wishlist2 %></td>
				<td><%= std.wishlist3 %></td>
				<td>
					<a href="/Guser_home/editwish/<%= std.id %>/<%= std.wishlist1 %>/<%= std.wishlist2 %>/<%= std.wishlist3 %>">Edit</a>
				</td>
			</tr>
		<%
			}); 
		%>
		
	</table>
</body>
</html>